<router-outlet />
<button (click)="toggleTheme()" class="btn-primary">ToggleMode</button>
<br /><br />
<mat-sidenav-container>
  <mat-sidenav>Start</mat-sidenav>
  <mat-sidenav-content>Main</mat-sidenav-content>
</mat-sidenav-container>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>Drawer content</mat-drawer>
  <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>
<br /><br />
<mat-spinner mode="determinate" value="20"></mat-spinner>
<mat-spinner mode="indeterminate" value="20"></mat-spinner>
<br /><br />
<!-- Mat-progress -->
<br />
<mat-progress-bar mode="buffer" value="80"></mat-progress-bar>
<br /><br />
<mat-paginator
  [length]="100"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page"
>
</mat-paginator
><br /><br />
<!-- Mat-menu -->
<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
<br /><br />
<!-- Mat-list -->
<mat-list>
  <h3 matSubheader>Folders</h3>
  @for (folder of array; track folder) {
  <mat-list-item>
    <mat-icon matListIcon>folder</mat-icon>
    <h4 matListItemTitle>{{ folder }}</h4>
    <p matListItemLine class="demo-2">{{ folder }}</p>
  </mat-list-item>
  }
  <mat-divider></mat-divider>
  <h3 matSubheader>Notes</h3>
  @for (note of array; track note) {
  <mat-list-item>
    <mat-icon matListIcon>note</mat-icon>
    <h4 matListItemTitle>{{ note }}</h4>
    <p matListItemLine class="demo-2">{{ note }}</p>
  </mat-list-item>
  }
</mat-list>
<mat-list>
  @for (message of array; track message) {
  <mat-list-item>
    <mat-icon matListItemIcon>folder</mat-icon>
    <h3 matListItemTitle>{{ message }}</h3>
    <p matListItemLine>
      <span>{{ message }}</span>
      <span class="demo-2"> -- {{ message }}</span>
    </p>
  </mat-list-item>
  }
</mat-list>
<mat-selection-list #shoes>
  @for (shoe of array; track shoe) {
  <mat-list-option>{{ shoe }}</mat-list-option>
  }
</mat-selection-list>
<mat-action-list>
  <button mat-list-item>Save</button>
  <button mat-list-item>Undo</button>
</mat-action-list>
<mat-nav-list>
  @for (link of array; track link) {
  <a mat-list-item href="...">{{ link }}</a>
  }
</mat-nav-list>
<br /><br />
<mat-form-field>
  <mat-label>Enter your email</mat-label>
  <input
    matInput
    placeholder="pat@example.com"
    [formControl]="email"
    (blur)="updateErrorMessage()"
    required
  />
  @if (email.invalid) {
  <mat-error>{{ errorMessage() }}</mat-error>
  }
</mat-form-field>
<br /><br />
<!-- Mat-form-field -->
<mat-checkbox>Hide required marker</mat-checkbox>
<div>
  <label>Float label: </label>
  <mat-radio-group>
    <mat-radio-button value="auto">Auto</mat-radio-button>
    <mat-radio-button value="always">Always</mat-radio-button>
  </mat-radio-group>
</div>
<div class="example-container">
  <mat-form-field hintLabel="Max 10 characters">
    <mat-label>Enter some input</mat-label>
    <input matInput #input maxlength="10" placeholder="Ex. Nougat" />
    <mat-hint align="end">/10</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select me</mat-label>
    <mat-select>
      <mat-option value="option">Option</mat-option>
    </mat-select>
    <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
  </mat-form-field>
</div>

<mat-form-field appearance="outline">
  <mat-label>Input</mat-label>
  <input matInput />
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Input</mat-label>
  <input matInput />
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Select</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Textarea</mat-label>
  <textarea matInput></textarea>
</mat-form-field>
<br /><br />
<!-- Mat-expension -->
<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> This is the expansion title </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>
  <mat-expansion-panel
    (opened)="panelOpenState.set(true)"
    (closed)="panelOpenState.set(false)"
    disabled="true"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Self aware panel </mat-panel-title>
      <mat-panel-description>
        Currently I am {{ panelOpenState() ? "open" : "closed" }}
      </mat-panel-description>
      <mat-action-row>
        <button mat-button>Next</button>
      </mat-action-row>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
</mat-accordion>
<br /><br />
<!-- Mat-dialog -->
<button mat-raised-button (click)="openDialog()">Pick one</button>
<br /><br />
<!-- Mat Date Picker -->
<mat-form-field>
  <mat-label>Month and Year</mat-label>
  <input matInput [matDatepicker]="dp" />
  <mat-hint>MM/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp startView="multi-year" panelClass="example-month-picker">
  </mat-datepicker>
</mat-form-field>
<br /><br />
<mat-form-field>
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate placeholder="Start date" />
    <input matEndDate placeholder="End date" />
  </mat-date-range-input>
  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker>
    <mat-date-range-picker-actions>
      <button mat-button matDateRangePickerCancel>Cancel</button>
      <button mat-raised-button matDateRangePickerApply>Apply</button>
    </mat-date-range-picker-actions>
  </mat-date-range-picker> </mat-form-field
><br /><br />
<mat-form-field>
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker" />
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<br /><br />
<!-- Mat-chips -->
<mat-chip-set aria-label="Fish selection">
  <mat-chip>One fish</mat-chip>
  <mat-chip>Two fish</mat-chip>
  <mat-chip>Three fish</mat-chip>
  <mat-chip disabled>Four fish</mat-chip>
</mat-chip-set>

<mat-chip-listbox>
  <mat-chip-option>Orange</mat-chip-option>
  <mat-chip-option>Orange</mat-chip-option>
  <mat-chip-option disabled>Orange</mat-chip-option>
</mat-chip-listbox>

<mat-form-field class="example-chip-list">
  <mat-label>Favorite Fruits</mat-label>
  <mat-chip-grid #chipGrid aria-label="Enter fruits">
    @for (fruit of fruits(); track fruit) {
    <mat-chip-row
      (removed)="removeChip(fruit)"
      [editable]="true"
      (edited)="editChip(fruit, $event)"
      [aria-description]="'press enter to edit ' + fruit.name"
    >
      {{ fruit.name }}
      <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
    }
    <input
      placeholder="New fruit..."
      [matChipInputFor]="chipGrid"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="addChip($event)"
    />
  </mat-chip-grid>
</mat-form-field>

<br /><br />
<!-- Mat-checkbox -->
<mat-checkbox [aria-label]="'test'"> test</mat-checkbox>

<mat-checkbox class="example-margin" [disabled]="true" checked="true"
  >Disabled</mat-checkbox
>

<section class="example-section">
  <span class="example-list-section">
    <mat-checkbox
      class="example-margin"
      [checked]="task().completed"
      [indeterminate]="partiallyComplete()"
      (change)="update($event.checked)"
    >
      {{ task().name }}
    </mat-checkbox>
  </span>
  <span class="example-list-section">
    <ul>
      @for (subtask of task().subtasks; track subtask; let i = $index) {
      <li>
        <mat-checkbox
          [checked]="subtask.completed"
          (change)="update($event.checked, i)"
        >
          {{ subtask.name }}
        </mat-checkbox>
      </li>
      }
    </ul>
  </span>
</section>
<br />
<br />

<!-- Mat-card -->

<mat-card appearance="outlined">
  <mat-card-content>
    <mat-card-title>Title</mat-card-title>
    Simple card
  </mat-card-content>
</mat-card>
<br /><br />

<!-- Mat-button-toggle -->
<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="bold">Bold</mat-button-toggle>
  <mat-button-toggle value="italic">Italic</mat-button-toggle>
  <mat-button-toggle value="underline">Underline</mat-button-toggle>
</mat-button-toggle-group>
<button>test</button>
<br /><br />
<!-- Mat-slide-toggle -->
<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<br />
<br />
<br />
<!-- Mat-autocomplete -->
<mat-form-field class="example-full-width">
  <mat-label>Number</mat-label>
  <input matInput type="text" disabled value="test" />
</mat-form-field>
<br /><br /><br />
<!-- Mat-label -->
<mat-form-field class="example-full-width">
  <mat-label>Number</mat-label>
  <input matInput type="text" />
</mat-form-field>
<br /><br /><br />
<!-- Mat-autocomplete -->
<mat-autocomplete #theId="matAutocomplete">
  @for (name of array; track name) {
  <mat-option [value]="name">{{ name }}</mat-option>
  }
</mat-autocomplete>
<input
  type="text"
  placeholder="Pick one"
  aria-label="Number"
  matInput
  [matAutocomplete]="theId"
/>
<br /><br /><br />
<!-- Mat-badge -->
<span matBadge="400" matBadgeOverlap="false" class="demo-section">
  Text with a badge
</span>
<br /><br /><br />
<!-- Mat-button -->
<section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button mat-button>Basic</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Stroked</div>
  <div class="example-button-row">
    <button mat-stroked-button>Basic</button>
    <button mat-stroked-button disabled>Disabled</button>
    <a mat-stroked-button href="https://www.google.com/" target="_blank"
      >Link</a
    >
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Flat</div>
  <div class="example-button-row">
    <button mat-flat-button>Basic</button>
    <button mat-flat-button disabled>Disabled</button>
    <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Icon</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <button
        mat-icon-button
        disabled
        aria-label="Example icon button with a open in new tab icon"
      >
        <mat-icon>open_in_new</mat-icon>
      </button>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">FAB</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button
          mat-fab
          disabled
          aria-label="Example icon button with a heart icon"
        >
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Mini FAB</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-mini-fab aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button
          mat-mini-fab
          disabled
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>home</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="example-label">Extended Fab</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab extended>
          <mat-icon>favorite</mat-icon>
          Basic
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab extended disabled>
          <mat-icon>favorite</mat-icon>
          Disabled
        </button>
      </div>
      <div class="example-button-container">
        <a mat-fab extended routerLink=".">
          <mat-icon>favorite</mat-icon>
          Link
        </a>
      </div>
    </div>
  </div>
</section>
<!-- Other buttons -->
<div class="buttons">
  <button mat-button class="btn">Default btn</button>
  <button mat-button class="btn btn-primary">Btn primary</button>
  <button mat-button class="btn btn-secondary">Btn secondary</button>
  <button mat-button class="btn btn-tertiary">Btn tertiary</button>
  <button mat-button class="btn btn-accent1">Btn accent1</button>
  <button mat-button class="btn btn-accent2">Btn accent2</button>
  <button mat-button class="btn btn-accent3">Btn accent3</button>
  <button mat-button class="btn btn-accent4">Btn accent4</button>
  <button mat-button class="btn btn-accent5">Btn accent5</button>
  <button mat-button class="btn btn-accent6">Btn accent6</button>
  <button mat-button class="btn btn-success">Btn success</button>
  <button mat-button class="btn btn-warning">Btn warning</button>
  <button mat-button class="btn btn-error">Btn error</button>
  <button mat-button class="btn btn-info">Btn info</button>
  <!-- form -->
  <input type="submit" />
  <input type="reset" />
  <input type="button" value="Input btn" />
  <a mat-button href="#" class="btn btn-white">Link btn white</a>

  <a mat-button href="#" class="btn btn-grayLight">Link btn gray light</a>
  <a mat-button href="#" class="btn btn-gray">Link btn gray</a>
  <a mat-button href="#" class="btn btn-grayDark">Link btn gray dark</a>

  <button mat-button class="btn btn-black">Btn black</button>
  <button mat-button class="btn btn-turquoiseLight">Btn turquoise light</button>
  <button mat-button class="btn btn-turquoise">Btn turquoise</button>
  <button mat-button class="btn btn-turquoiseDark">Btn turquoise dark</button>
  <button mat-button class="btn btn-blueLight">Btn blue light</button>
  <button mat-button class="btn btn-blue">Btn blue</button>
  <button mat-button class="btn btn-blueDark">Btn blue dark</button>
  <button mat-button class="btn btn-greenLight">Btn green light</button>
  <button mat-button class="btn btn-green">Btn green</button>
  <button mat-button class="btn btn-greenDark">Btn green dark</button>
  <button mat-button class="btn btn-yellowLight">Btn yellow light</button>
  <button mat-button class="btn btn-yellow">Btn yellow</button>
  <button mat-button class="btn btn-yellowDark">Btn yellow dark</button>
  <button mat-button class="btn btn-orangeLight">Btn orange light</button>
  <button mat-button class="btn btn-orange">Btn orange</button>
  <button mat-button class="btn btn-orangeDark">Btn orange dark</button>
  <button mat-button class="btn btn-redLight">Btn red light</button>
  <button mat-button class="btn btn-red">Btn red</button>
  <button mat-button class="btn btn-redDark">Btn red dark</button>
  <button mat-button class="btn btn-pinkLight">Btn pink light</button>
  <button mat-button class="btn btn-pink">Btn pink</button>
  <button mat-button class="btn btn-pinkDark">Btn pink dark</button>
  <button mat-button class="btn btn-purpleLight">Btn purple light</button>
  <button mat-button class="btn btn-purple">Btn purple</button>
  <button mat-button class="btn btn-purpleDark">Btn purple dark</button>

  <button disabled="disabled">Disabled btn</button>
</div>
<!-- Mat-icon -->
<mat-icon>favorite</mat-icon>
<br /><br />
<!-- Texts -->
<h1>Title 1</h1>
<h2>Title 2</h2>
<h3>Title 3</h3>
<h4>Title 4</h4>
<h5>Title 5</h5>
<h6>Title 6</h6>
<p class="fw-100">This is a text 100.</p>
<p class="fw-200">This is a text 200.</p>
<p class="fw-300">This is a text 300.</p>
<p class="fw-400">This is a text 400.</p>
<p class="fw-500">This is a text 500.</p>
<p class="fw-600">This is a text 600.</p>
<p class="fw-700">This is a text 700.</p>
<p>A text with a <a href="#">Link</a></p>
